*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}


/* Variables */
$color-white: #f5f5f5;
$color-title: gold;

#backgroundColor {
    background-color: black;
}
#backgroundColor2 {
    background-color: #ffaab5;
}
#backgroundColor3 {
    background-color: #7096bb;
}
#backgroundColor4 {
    background-color: #cc1e28;
}
#backgroundColor5 {
    background-color: #983178;
}
#backgroundColor6 {
    background-color: #a16a33;
}

#backgroundColor7 {
    background-color: #76b5c5;
}
#backgroundColor8 {
    background-color: #5e5e5e;
}
#backgroundColor9 {
    background-color: #58635c;
}

/*BEM*/

.body__contenedorGift {
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.estiloGift {
    height: 50%;
    width: 50%;
    margin-left: 60px;
}

.div__contenedorTitle {
    display: flex;
    justify-content: center;
}
.imagen_titulo {
    height: 280px;
    width: 800px;
    margin-bottom: 30px;
}
.imagen_titulo_1989 {
    height: 350px;
    width: 100%;
    margin-bottom: 70px;
}
.imagen_titulo_speakNow {
    height: 300px;
    width: 50%;
    margin-bottom: 70px;
}
.article__parrafo {
    float: right;
    justify-content: right;
    margin-right: 30px;
}
.section__estiloLista {
    display: flex;
    list-style: none;
    text-decoration: none;
    color: #f5f5f5;
}

.article__colorText {
    color: $color-white;
    text-align: justify;
}
.section__estiloTitle {
    color: $color-title;
    font-family: 'Times New Roman', Times, serif;
    margin: 30px;
}
.article__estiloTitle {
    color: $color-title;
    font-family: 'Times New Roman', Times, serif;
}

.footer__quoteEstilo {
display: flex;
justify-content: center;
}

.quote_1989 {
    font-family: "Dancing Script" , "cursive";
    font-size:xx-large;
    color: beige;
    margin-bottom: 80px;
    text-align: center;
    margin: 30px;
}

.title_bio {
    font-family: "Dancing Script" , "cursive";
    font-size:xx-large;
    color: #535353;
    margin-bottom: 80px;
    text-align: center;
    margin: 30px;
}

.estiloFooter {
    height: 280px;
    width: 550px;
}
.border__album {
    border-style: solid;
    color: gold;
}
.estilo__album {
    width: 350px;
    height: 350px;
    padding: 10px;
    margin-bottom: 50px;
}

.estiloParrafo__Lover {
    margin: 30px;
}

.estiloRep {
    margin-left: 18%;
}
//*DESAFIO SASS**//
//*CALCULADAS*//

$altura: 600px ;
$pink: #ffc0cb;
$blue: #afeeeea4;

.fondo {
    background-image: linear-gradient(to bottom, $pink, $blue);
}

.section1_galeria {
    height: $altura*2;
}

.logo404 {
    height: 543px;
    width: 520px;
}
.logo404error {
    height: 300px;
    width: 450px;
    float: right;
    margin-right: 200px;
}

.logoPadre {
    position: absolute;
    display:flex;
}

.estiloCarousel1 {
    display: flex;
    justify-content: space-around;
}
.estiloCarousel2 {
    width: 60%;
    margin: 40px;
    margin-bottom: 200px;
}

//NAVBAR

div a img {
width: 180px;
height: 45px;
}
.separacion {
    margin: 20px;
}

.socialMediaIcon {
    height:30px;
    width: 30px;
    margin: 10px;
}


@media (max-width: 880px) {

    .imagen_titulo {
        height: 210px;
        width: 450px;
    }
    .body__contenedorGift {
        flex-direction: column;
        margin-left: 30px;
    }
    .estiloGift {
        height: 50%;
        width: 50%;
        margin-left: 30%;
    }
    .section__estiloLista {
        flex-direction: row;
    }
    .estiloRep {
        margin-left: 10px;
    }
    .estiloFooter {
        height: 200px;
        width: 350px;
    }
    .estilo__album {
        width: 280px;
        height: 280px;
        padding: 10px;
        margin-bottom: 20px;
        margin-right: 60px;
    }
}
@media (max-width: 650px) {

    .imagen_titulo {
        height: 210px;
        width: 450px;
    }
    .body__contenedorGift {
        flex-direction: column;
        margin-left: 30px;
    }
    .estiloGift {
        height: 50%;
        width: 50%;
        margin-left: 30%;
    }
    .article__estiloTitle {
        text-align: center;
    }
    .section__estiloLista {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .estiloFooter {
        height: 200px;
        width: 350px;
    }
    .estilo__album {
        width: 300px;
        height: 300px;
        padding: 10px;
        margin-bottom: 20px;
        margin-right: 0;
    }
}

@media (max-width: 450px) {
    .taylorAnimada {
        display: flex;
        flex-direction: column;
    }
    .taylorAnimadaImagen {
        height: 400px;
        width: 300px;
        margin-left: 8%;
        margin-bottom: 130px;
        padding: 20px;
    }
}

@media (max-width: 350px) {
    .taylorAnimada {
        display: flex;
        flex-direction: column;
    }
    .taylorAnimadaImagen {
        height: 250px;
        width: 200px;
        margin-left: 8%;
        margin-bottom: 90px;
        padding: 10px;
    }

}